<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Livros Disponíveis</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Livros Disponíveis</h1>
<table>
    <thead>
    <tr>
        <th>Título</th>
        <th>Autor</th>
        <th>Ano</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="livro : ${livros}">
        <td th:text="${livro.titulo}"></td>
        <td th:text="${livro.autor}"></td>
        <td th:text="${livro.anoPublicacao}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">Voltar</a>
</body>
</html>